<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <header class="page-header">
        <h4>MyTrainerMatch</h4>
        <!-- <nav>
            <ul>
                <li><a href="#our-mission">Our Mission</a></li>
                <li><a href="#find-your-trainer">Find Your Trainer</a></li>
            </ul>
        </nav> -->
    </header>
    <main>
        <div id="response-message">
            <h4>Thank you for your submission</h4>
            <p>A member of our team will contact you shortly</p>
            <p>If you have any questions please email or call us</p>
        </div>
    </main>
    <footer>
        <h4>MyTrainerMatch</h4>
        <div id="contact-info">
            <p>(415) *** - ****</p>
            <p>test@example.com</p>
        </div>
    </footer>
</body>
</html>